{% extends "base.html" %}
{% block title %}About LPC{% endblock %}
{% block content %}
<div class="page_header"><h1>About LPC</h1></div>
<div id="content">
<div class="full_box">
<div class="section_text">
<p>The Louisiana Parent Congress is about concerned citizens building partnerships to address critical issues that have an impact on education and encourage local educational programs to work harmoniously with family and friends of education.</p>
 
</div></div>
<h3>&nbsp;</h3>
</div></div>
{% endblock %}
