{% extends "base.html" %}
{% block title %}Louisiana Parents Congress{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(window).load(function() {
    $('#slider:visible').nivoSlider();
});
var menu_name = "Home";
</script>
{% endblock %}
{% block content %}
<div class="page_header">&nbsp;</div>
<div id="content">
<div class="full_box">
<div id="slider">
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040553.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040543.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040554.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040614.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040560.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040556.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040555.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040538.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040559.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040541.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040537.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040540.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040545.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040562.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040566.JPG') }}" alt=""/>
    <img src="{{ url_for('static',filename='images/expo_slideshow/tn/P1040533.JPG') }}" alt=""/>
</div>
</div>

<div class="section_left">
<h2>Conference Participants</h2>
<div class="section_text"><p>Every year the Louisiana Parent Congress draws a diverse group of individuals.  To get a better idea of if this one day meeting is for you, below is a suggested list of people who have attended in the past.
</p>
<ul>
<li>Superintendents</li>
<li>Federal Programs Directors</li>
<li>School Board Members</li>
<li>PTA Members / Officers</li>
<li>Principals</li>
<li>Classroom Teachers</li>
<li>Paraprofessionals</li>
<li>Parents</li>
</ul></div>
</div>

<div class="section_right"><h2>Important Dates</h2>
<div class="section_text">
<ul>
  <li>Annual Meeting: Friday, October 14th, 2011</li>
  <li>EXPO: Friday, May 4th, 2012</li>
</ul></div>
</div>

<div class="section">
<h2>Contact Us</h2>
<div class="section_text">
<p>Janet Howell<br/>
Rapides Parish School District, Title I, Parental Involvement<br/>
EXPO Chairperson</p>

<p>501 Elliott Street<br/>
Alexandria, LA 71301<br/> 
318-442-8891<br/>
FAX 318-442-8178<br/>
<script>
<!--

function escramble(){
 var a,b,c,d,e,f,g,h,i
 a='<a href=\"mai'
 b='janet.howell'
 c='\">'
 a+='lto:'
 b+='@'
 e='</a>'
 f=''
 b+='rpsb.us'
 g='<img src=\"'
 h=''
 i='\" alt="Email us." border="0">'

 if (f) d=f
 else if (h) d=g+h+i
 else d=b

 document.write(a+b+c+d+e)
}

escramble()

//-->

</script><br/></p></div>

</div>
</div>
</div>
{% endblock %}
