{% extends "base.html" %}
{% block title %}Louisiana Parents Congress - Registration Info{% endblock %}
{% block content %}
<div class="page_header"><h1>Registration Information</h1></div>
<div id="content">

<div class="section_left">
<h2>Registration Includes</h2>
<div class="section_text">
<strong>Workshop Sessions</strong>: attendees are welcome to attend any workshop sessions listed on the agenda<br/>
</div></div>

<div class="section_right">
<h2>Register Now!</h2>
<div class="section_text">
Download a registration form <a href="{{ url_for('static',filename='docs/registration_form.doc') }}">here</a>.
</div></div>

<div class="section_left">
<h2>Fees</h2>
<div class="section_text">
Fee: $45.00<br/>
</div>
</div>
<div class="section_right">
<h2>Payment Information</h2>
<div class="section_text">
<ul>
<li><strong>Method of Payment</strong></li>
<ul><li>Check/Money Order/Cash</li>
    <li>Payment in full by October 24th, 2012</li>
</ul>
<li><strong>Purchase Orders</strong></li>
<ul><li>POs are not payment, but will reserve registration until October 24th, 2012</li></ul>
<li><strong><em>NO Cancellations & Refunds</em></strong></li>
</ul>
</div></div>

<div class="section_left">
<h2>Contact Us</h2>
<div class="section_text">
<p>Janet Howell, Rapides Parish School District, Title I, Parental Involvement<br/>
Teach &amp; Learn Chairperson</p>

<p>501 Elliott Street<br/>
Alexandria, LA 71301<br/>
318-442-8891<br/>
FAX 318-442-8178<br/>
<script>
<!--

function escramble(){
 var a,b,c,d,e,f,g,h,i
 a='<a href=\"mai'
 b='janet.howell'
 c='\">'
 a+='lto:'
 b+='@'
 e='</a>'
 f=''
 b+='rpsb.us'
 g='<img src=\"'
 h=''
 i='\" alt="Email us." border="0">'

 if (f) d=f
 else if (h) d=g+h+i
 else d=b

 document.write(a+b+c+d+e)
}

escramble()

//-->

</script><br/></p></div>
</div>
</div>
{% endblock %}
